{% extends 'base.html' %}
{% block container %}

<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm" action="{% url 'subject-search-list' %}">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="icon-magnifying-glass h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
                    <div>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="row text-center">
                          <div class="col">
                              <a href="#" class="btn btn-secondary mb-1">Technology</a>
                              <a href="#" class="btn btn-secondary mb-1">Lifestyle</a>
                              <a href="#" class="btn btn-secondary mb-1">Marketing</a>
                              <a href="#" class="btn btn-secondary mb-1">Health &amp; Fitness</a>
                              <a href="#" class="btn btn-secondary mb-1">Music</a>
                              <a href="#" class="btn btn-secondary mb-1">Productivity</a>
                          </div>
                          <!--end of col-->
                      </div>
                    </div>
{% endblock container %}
